/* You can add global styles to this file, and also import other style files */
@import 'https://unpkg.com/@angular/material/prebuilt-themes/indigo-pink.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

html, body { 
  height: 100%; 
  background: linear-gradient(to top right, #bc8ecc 0%, #87e1df 100%);
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  text-align: center;
}